$laranja: #f7883f;

// $first:     #57dad3;
// $second:    #f5c2c6;
// $third:     #f3cb5d;
// $fourth:    #c9e4bc;
// $fifth:     #ffffff;

$first:     #264653;
// $second:    #2a9d8f;
$second:    #0dc5c5;
$third:     #e9c46a;
$fourth:    #f4a261;
$fifth:     #e76f51;