@import 'resources/sass/app.scss';

aside {
    background-color: $first;
    min-height: 100vh;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    box-shadow: 1px 1px 2px grey;
    
    .logo{
        height: 70px;
        padding: 5px;
        background-color: $fifth;

        .logo__imagem {
            background-color: $second;
            min-height: 100%;
        }
    }
    
    .logo-line {
        margin-bottom: 50px;
    }
}

aside.collapsed + section {
    margin-left: 70px;
    transition: .3s;
}

aside.expanded + section {
    margin-left: 250px;
    transition: .3s;
}

.collapsed, .expanded {
    transition: .3s;
}

// .submenu {
//     display: none;
// }
.display-none {
    display: none;
}

.collapsed {
    width: 70px;

    span, .submenu {
        display: none;
    }
}

.expanded {
    width: 250px;
}

.menu {
    margin: 20px 15px;
    display: block;

    .menu-title {
        display: flex;
        cursor: pointer;

        .menu-icon {
            margin: 0px 8px;
            font-size: 20px;
        }

        span {
            margin-top: 5px;
        }
    }

    .submenu {
        margin: 10px 30px;
    }
}